In [55]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from mpl_toolkits.axes_grid1 import make_axes_locatable
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import seaborn as sns
import statsmodels.api as sm

In [56]:
def load_peace_sys_data():
    df = pd.DataFrame(pd.read_csv('peace_sys.csv', index_col=0, na_values=['(NA)']))
    return df

In [57]:
def get_odds_ratios(coefs):
    return np.exp(coefs[0])

In [58]:
def logit_pvalue(model, x):
    """ Calculate z-scores for scikit-learn LogisticRegression.
    parameters:
        model: fitted sklearn.linear_model.LogisticRegression with intercept and large C
        x:     matrix on which the model was fit
    This function uses asymtptics for maximum likelihood estimates.
    """
    # first index refers to proba that belongs to class 0
    # second index refers to proba that belongs to calss 1
    p = model.predict_proba(x) # return matrix (N,2)
    # number of samples
    n = len(p)
    # number of features + 1 
    m = len(model.coef_[0]) + 1
    coefs = np.concatenate([model.intercept_, model.coef_[0]]) # put intercept and coefs in same array
    x_full = np.matrix(np.insert(np.array(x), 0, 1, axis = 1)) # 
    ans = np.zeros((m, m))
    for i in range(n):
        # dot product of transposed row and row
        # then multiply by both probas
        # add it to ans
        ans = ans + np.dot(np.transpose(x_full[i, :]), x_full[i, :]) * p[i,1] * p[i, 0]
    # acovariance matrix
    vcov = np.linalg.inv(np.matrix(ans))
    # square root diagonal of covariace matrix
    se = np.sqrt(np.diag(vcov))
    # divide coefs by standard error
    t =  coefs/se 
    # two tailed using normal dist
    p = (1 - stats.norm.cdf(abs(t))) * 2
    return p

In [59]:
def logit_with_nan(data):
    data_copy = data.drop('PSys', axis=1)
    pvalues = []
    logit_beta = []
    logit_odds_ratio = []

    
    for label in data_copy.columns:
        X = data[[label, 'PSys']]
        X = X.dropna()
        
        y = X.PSys
        X = X.drop('PSys', axis=1)
        
        logreg = LogisticRegression(random_state=42, C=1e9)
        logreg.fit(X, y)
        pvalue = logit_pvalue(logreg, X)[1]
        
        pvalues.append(pvalue)
        
        beta = np.absolute(logreg.coef_[0][0])
        logit_beta.append(beta)
        logit_odds_ratio.append(np.exp(beta))
        
        
    res = pd.DataFrame({'Variable' : data_copy.columns,
                        'Logistic_Sig_Level' : pvalues,
                        'Logistic_Beta' : logit_beta,
                        'Logistic_Odds_Ratio' : logit_odds_ratio
                       })
    
    res = res.set_index('Variable')
    
    return res

In [60]:
def compute_ttest(peaceful, non_peaceful):
    variables = peaceful.columns
    res_df = pd.DataFrame(columns=['feature', 't_statistic', 'p_value'])
    
    for var in variables:
        x = peaceful[var]
        y = non_peaceful[var]
        ttest = stats.ttest_ind(x, y)
        temp = pd.DataFrame({'feature' : [var] , 
                             't_statistic' : ttest.statistic, 
                             'p_value' : [ttest.pvalue]})
        res_df = res_df.append(temp)
        
    res_df.set_index('feature', inplace=True)
    return res_df

In [61]:
def ttest_with_nan(data):
    """ 
    This is a two sided test for the null hypothesis that 2 independent samples
    have identical average(expected) values.
    
    Test assusmes that the populations have identical variances by default
    
    Parameters
    ----------
    data: DataFrame
        The DataFrame that contains Nan values
        
    Returns
    -------
    returns DataFrame that contains statistic and pvalue for every column in data
    
    t_statistic: float
        Calculated t-statistic
    
    p_value: float
        Two tailed p-value
            
    """
    # create a copy that excludes target variable
    data_copy = data.drop('PSys', axis=1)
    # prepare result data frame
    res_df = pd.DataFrame(columns=['Variable', 't_statistic', 'p_value'])
    # for every label, we separate each row by what its target value is
    # we drop the nan values
    for label in data_copy.columns:
        X = data[[label, 'PSys']]
        X = X.dropna()
        # filter peaceful 
        peaceful = X[X.PSys == 1]
        peaceful = peaceful.drop('PSys', axis=1)
        
        non_peaceful = X[X.PSys == 2]
        non_peaceful = non_peaceful.drop('PSys', axis=1) 
        # calculate two-sided ttest
        ttest_result = stats.ttest_ind(peaceful, non_peaceful)
        ttest_df = pd.DataFrame({'Variable' : [label],
                                 't_statistic' : ttest_result.statistic,
                                 'p_value' : ttest_result.pvalue
                                })
        
        res_df = res_df.append(ttest_df)
    
    res_df.set_index('Variable', inplace=True)
    
    return res_df

In [62]:
def compute_mannwhitneyu(peaceful, non_peaceful):
    variables = peaceful.columns
    res_df = pd.DataFrame(columns=['feature', 'statistic', 'p_value'])
    
    for var in variables:
        x = peaceful[var]
        y = non_peaceful[var]
        utest = stats.mannwhitneyu(x, y)
        temp = pd.DataFrame({'feature' : [var] , 
                             'statistic' : utest.statistic, 
                             'p_value' : [utest.pvalue]})
        res_df = res_df.append(temp)
        
    res_df.set_index('feature', inplace=True)
    return res_df

In [63]:
def mannwhitneyu_with_nan(data):
    """ 
    Computes the Mann-Whitney rank test on each of the columns of data
    Each column is seperated into 2 different arrays
    
    One group is peaceful, the other group is non-peaceful
    
    Parameters
    ----------
    data : DataFrame
        DataFrame that contains nan values
        
    Returns:
    -------
    Retures a DataFrame with U_statistic and Pvalue for every column
    
    U_statististic: float
        Mann-Whitney U statistic, equal to min(U for x, and U for y)
        
    p_value: float
        p-value assuming asymptotic normal distribution. Two-Sided.
    """
    data_copy = data.drop('PSys', axis=1)
    res_df = pd.DataFrame(columns=['Variable', 't_statistic', 'p_value'])
    for label in data_copy.columns:
        # isolate the target variable and current variable
        X = data[[label, 'PSys']]
        # drop all Nan values
        X = X.dropna()
        # filter out peaceful rows
        peaceful = X[X.PSys == 1]
        peaceful = peaceful.drop('PSys', axis=1)
        # filter out non peaceful rows
        non_peaceful = X[X.PSys == 2]
        non_peaceful = non_peaceful.drop('PSys', axis=1) 
        # calculates two-sided Mann-Whitney U test
        utest_result = stats.mannwhitneyu(peaceful, non_peaceful, alternative='two-sided')
        ttest_df = pd.DataFrame({'Variable' : [label],
                                 'U_statistic' : utest_result.statistic,
                                 'p_value' : utest_result.pvalue
                                })
        
        res_df = res_df.append(ttest_df)
    
    res_df.set_index('Variable', inplace=True)
    
    return res_df

In [64]:
peace_sys = load_peace_sys_data()

peace_sys

,SCCS,Coder,ID1.1Over,ID1.2Ethno,Int2.1Mar,Int2.2Econ,Int2.3Pol,Int2.4Hist,Dep3.1Sec,Dep3.2Ecol,...,CM8.5Peace,CM8.6War,Lead9.1P,Lead9.2War,Cult10.1Com,Cult10.2Diff,Comp10.3,InComp10.4,PSys,PSysRec
Name,,,,,,,,,,,,,,,,,,,,,
Gilbertese,107,KA,9.0,2.0,3,9.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Marshallese,108,EC,1.0,9.0,9,1.0,9,9,9,9,...,9,2,9,4,9,9,9,9,2,0
E. Pomo,135,"KA, EC",9.0,9.0,9,9.0,9,9,1,1,...,9,9,2,9,9,9,9,9,2,0
Popoluca,154,KA,9.0,3.0,9,3.0,9,9,9,3,...,9,9,9,9,9,9,9,9,2,0
Konso,35,KA,9.0,2.0,3,4.0,9,4,9,2,...,9,9,9,9,3,9,3,3,2,0
Bribri,157,DG,9.0,2.0,2,9.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Tallensi,23,DG,1.0,2.0,4,9.0,1,3,3,9,...,2,9,9,9,4,1,3,9,2,0
Russians,54,DG,4.0,9.0,1,9.0,9,9,9,9,...,2,1,1,9,2,9,9,9,2,0
Trukese,109,DG,3.0,9.0,4,4.0,3,9,3,9,...,9,9,9,9,9,9,9,9,2,0
Toraja,87,DG,1.0,9.0,1,1.0,9,9,1,9,...,9,9,9,9,9,9,9,9,2,0
Pawnee,142,KA,3.0,3.0,9,3.0,9,3,4,9,...,9,9,9,9,3,9,9,9,2,0
Rhade,74,KA,9.0,4.0,2,9.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Burmese,71,KA,9.0,2.0,9,2.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Timbira,176,KA,9.0,2.0,2,9.0,9,2,9,9,...,9,9,9,9,9,9,9,9,2,0
Basseri,58,KA,2.0,3.0,3,4.0,4,9,9,4,...,9,9,9,9,9,1,1,3,2,0
Havasupai,150,KA,2.0,9.0,2,4.0,9,3,9,3,...,9,9,4,4,4,9,9,9,2,0
Yukaghir,120,EC,3.0,3.0,1,2.0,9,9,9,3,...,9,9,9,9,9,9,9,9,2,0
Comanche,147,EC,3.0,4.0,2,9.0,3,9,3,1,...,9,9,2,4,9,9,2,9,2,0
Jivaro,169,EC,1.0,4.0,1,4.0,1,1,1,1,...,9,1,9,2,9,9,9,2,2,0
Yanomamo,163,KA,9.0,9.0,9,9.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Burusho,64,KA,9.0,2.0,9,1.0,9,2,9,9,...,9,9,9,9,9,3,9,9,2,0
Taureg,41,DG,1.0,9.0,2,9.0,2,9,3,9,...,9,9,9,4,2,9,9,9,2,0
Shavante,179,KA,2.0,3.0,9,2.0,1,1,1,1,...,9,9,2,4,1,1,1,1,2,0
Kurds,57,KA,9.0,9.0,9,9.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Yapese,110,KA,9.0,9.0,9,9.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Teda,40,KA,1.0,4.0,3,2.0,2,9,9,1,...,9,9,9,2,9,9,9,9,2,0
Vietnamese,73,KA,2.0,9.0,9,3.0,9,3,9,9,...,9,9,9,9,9,9,9,9,2,0
Kikuyu,11,KA,2.0,9.0,2,2.0,9,9,9,9,...,9,9,9,9,9,9,9,9,2,0
Omaha,143,DG,9.0,3.0,9,9.0,2,9,1,9,...,1,1,1,4,1,1,9,9,2,0
Natchez,146,BM,9.0,9.0,1,1.0,1,1,1,1,...,9,0,9,4,9,9,9,9,2,0
Switzerland,200,DM,3.0,3.0,9,9.0,2,4,4,3,...,2,2,4,9,4,4,9,9,1,1
Iroquois,201,KA,3.5,2.5,3,3.5,4,4,4,2,...,4,9,4,9,4,1,4,9,1,1
Orang Asli,202,DPF,3.0,3.0,2,2.0,1,3,1,2,...,9,9,9,1,3,1,3,1,1,1
Nilgiri Pla.,203,DPF,2.0,3.0,1,4.0,2,4,1,9,...,9,9,9,9,3,1,2,1,1,1
Wynaad Pla.,204,DPF,3.0,2.0,2,4.0,9,3,1,9,...,9,9,9,9,3,1,9,9,1,1
Nordic Nats.,205,DPF,4.0,1.0,3,4.0,4,4,4,2,...,4,1,4,2,4,1,4,1,1,1
Up Xingu RB,206,DPF4,4.0,2.0,4,4.0,1,9,3,1,...,9,9,3,9,3,1,9,9,1,1
W. Australia,207,KA,4.0,2.0,4,2.0,9,4,9,4,...,4,1,1,1,4,9,4,9,1,1
Mon-Naskapi,125,KA,2.0,2.0,9,4.0,9,3,4,4,...,9,9,3,2,2,9,9,9,1,1
Italy,208,SS,2.0,3.0,9,3.0,2,2,4,9,...,9,4,2,4,9,2,1,4,1,1
So Cone,209,EC,3.0,9.0,9,4.0,4,9,4,4,...,4,9,4,9,4,9,3,1,1,1
Netherlands,210,KA,4.0,2.0,9,4.0,4,4,4,4,...,9,9,4,9,9,9,9,9,1,1
USA,211,DPF,4.0,2.0,3,4.0,4,3,4,3,...,4,9,2,3,4,1,4,1,1,1
Mbuti,13,DPF,9.0,9.0,9,3.0,2,9,1,3,...,9,9,9,9,9,1,9,9,1,1
Juhoansi,2,DPF,2.0,9.0,4,3.0,1,3,1,4,...,9,9,9,9,9,1,9,9,1,1
EU,212,DPF,3.0,2.5,3,4.0,4,3,3,3,...,4,2,4,2,3,2,3,2,1,1

In [65]:
peace_sys = peace_sys.replace(9, np.nan)

In [66]:
peace_sys = peace_sys.drop(['SCCS','Coder'], axis=1)

In [67]:
NON_WAR_VARS = ['SymP6', 'NWNorm5.1', 'RitP6', 'Dep3.3Econ', 'Int2.4Hist', 'ID1.1Over', 
                'NWVal4.1', 'Int2.2Econ', 'Dep3.2Ecol', 'CM8.5Peace', 'PSys']

In [68]:
NON_WAR_VARS

['SymP6',
 'NWNorm5.1',
 'RitP6',
 'Dep3.3Econ',
 'Int2.4Hist',
 'ID1.1Over',
 'NWVal4.1',
 'Int2.2Econ',
 'Dep3.2Ecol',
 'CM8.5Peace',
 'PSys']

In [69]:
non_war_dataset = peace_sys[NON_WAR_VARS]

In [70]:
non_war_dataset

,SymP6,NWNorm5.1,RitP6,Dep3.3Econ,Int2.4Hist,ID1.1Over,NWVal4.1,Int2.2Econ,Dep3.2Ecol,CM8.5Peace,PSys
Name,,,,,,,,,,,
Gilbertese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
Marshallese,2.0,NaN,2.0,3.0,NaN,1.0,4.0,1.0,NaN,NaN,2
E. Pomo,NaN,NaN,NaN,1.0,NaN,NaN,2.5,NaN,1.0,NaN,2
Popoluca,NaN,NaN,NaN,3.0,NaN,NaN,3.0,3.0,3.0,NaN,2
Konso,3.0,NaN,NaN,3.0,4.0,NaN,3.0,4.0,2.0,NaN,2
Bribri,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
Tallensi,NaN,3.0,NaN,2.0,3.0,1.0,4.0,NaN,NaN,2.0,2
Russians,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,2.0,2
Trukese,NaN,3.0,2.0,3.0,NaN,3.0,3.0,4.0,NaN,NaN,2
Toraja,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,2
Pawnee,2.0,NaN,2.0,NaN,3.0,3.0,4.0,3.0,NaN,NaN,2
Rhade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
Burmese,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,NaN,NaN,2
Timbira,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,2
Basseri,NaN,NaN,1.0,3.0,NaN,2.0,NaN,4.0,4.0,NaN,2
Havasupai,NaN,NaN,2.0,3.0,3.0,2.0,3.0,4.0,3.0,NaN,2
Yukaghir,NaN,3.0,NaN,NaN,NaN,3.0,2.0,2.0,3.0,NaN,2
Comanche,NaN,4.0,3.0,NaN,NaN,3.0,3.0,NaN,1.0,NaN,2
Jivaro,NaN,2.0,NaN,NaN,1.0,1.0,NaN,4.0,1.0,NaN,2
Yanomamo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
Burusho,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,NaN,NaN,2
Taureg,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2
Shavante,NaN,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,NaN,2
Kurds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
Yapese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
Teda,NaN,NaN,NaN,1.0,NaN,1.0,NaN,2.0,1.0,NaN,2
Vietnamese,NaN,NaN,NaN,3.0,3.0,2.0,NaN,3.0,NaN,NaN,2
Kikuyu,2.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,NaN,NaN,2
Omaha,2.0,2.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,2
Natchez,2.0,NaN,3.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,2
Switzerland,4.0,4.0,4.0,3.0,4.0,3.0,4.0,NaN,3.0,2.0,1
Iroquois,4.0,NaN,4.0,2.0,4.0,3.5,4.0,3.5,2.0,4.0,1
Orang Asli,NaN,4.0,NaN,2.5,3.0,3.0,4.0,2.0,2.0,NaN,1
Nilgiri Pla.,NaN,4.0,4.0,4.0,4.0,2.0,NaN,4.0,NaN,NaN,1
Wynaad Pla.,NaN,4.0,3.0,3.0,3.0,3.0,4.0,4.0,NaN,NaN,1
Nordic Nats.,4.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,2.0,4.0,1
Up Xingu RB,NaN,4.0,3.0,4.0,NaN,4.0,4.0,4.0,1.0,NaN,1
W. Australia,4.0,4.0,4.0,NaN,4.0,4.0,4.0,2.0,4.0,4.0,1
Mon-Naskapi,NaN,4.0,NaN,NaN,3.0,2.0,4.0,4.0,4.0,NaN,1
Italy,2.0,2.0,1.0,2.5,2.0,2.0,2.0,3.0,NaN,NaN,1
So Cone,NaN,4.0,3.0,4.0,NaN,3.0,3.0,4.0,4.0,4.0,1
Netherlands,NaN,NaN,NaN,4.0,4.0,4.0,4.0,4.0,4.0,NaN,1
USA,3.0,NaN,3.0,4.0,3.0,4.0,2.0,4.0,3.0,4.0,1
Mbuti,NaN,4.0,NaN,3.0,NaN,NaN,4.0,3.0,3.0,NaN,1
Juhoansi,NaN,4.0,3.0,3.0,3.0,2.0,4.0,3.0,4.0,NaN,1
EU,4.0,4.0,3.0,4.0,3.0,3.0,4.0,4.0,3.0,4.0,1

In [71]:
y = non_war_dataset.PSys
X = non_war_dataset.drop('PSys', axis=1)

In [72]:
# generating train_set and test_set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.4 , stratify=y, random_state=42)

# Random Forest

In [73]:
# rfc = RandomForestClassifier(n_estimators=1000).fit(X_train, y_train)

# rfc_pred = rfc.predict(X_test)

In [74]:
# print('Accuracy: ', accuracy_score(y_test, rfc_pred))
# print('F1 Score: ', f1_score(y_test, rfc_pred, average='weighted'))
# print('Recall Score: ', recall_score(y_test, rfc_pred, average='weighted'))

In [75]:
# rfc.feature_importances_

# Logistic Regression

In [76]:
logit_results = logit_with_nan(non_war_dataset)

In [77]:
logit_results

            Logistic_Sig_Level  Logistic_Beta  Logistic_Odds_Ratio
Variable
SymP6                 0.036682       2.573926            13.117217
NWNorm5.1             0.007431       2.284869             9.824401
RitP6                 0.013339       2.071619             7.937661
Dep3.3Econ            0.010404       1.845498             6.331255
Int2.4Hist            0.028189       1.535365             4.643021
ID1.1Over             0.007980       1.321921             3.750619
NWVal4.1              0.013490       1.313649             3.719723
Int2.2Econ            0.019053       0.993379             2.700344
Dep3.2Ecol            0.031614       0.933155             2.542519
CM8.5Peace            0.932156       8.542179          5126.503390

# T-Test

In [78]:
ttest = ttest_with_nan(non_war_dataset)

In [79]:
ttest

            t_statistic   p_value
Variable
SymP6          3.926992  0.002364
NWNorm5.1      5.219408  0.000031
RitP6          3.893138  0.000839
Dep3.3Econ     4.070873  0.000367
Int2.4Hist     3.033202  0.006323
ID1.1Over      3.429339  0.001835
NWVal4.1       3.043205  0.004833
Int2.2Econ     2.752039  0.009951
Dep3.2Ecol     2.502553  0.020254
CM8.5Peace     4.147288  0.003221

# Mann-Whitney U-Test

In [80]:
mannwhitneyu = mannwhitneyu_with_nan(non_war_dataset)

In [81]:
mannwhitneyu

            t_statistic   p_value
Variable
SymP6              38.0  0.010393
NWNorm5.1         131.0  0.000175
RitP6             115.5  0.001604
Dep3.3Econ        174.0  0.001851
Int2.4Hist        103.0  0.013528
ID1.1Over         191.5  0.003749
NWVal4.1          198.0  0.004332
Int2.2Econ        187.0  0.018722
Dep3.2Ecol        109.0  0.026365
CM8.5Peace         20.0  0.018906