In [41]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy import stats

In [3]:
hours = [0.50, 0.75, 1.00, 1.25, 1.50, 1.75, 1.75, 2.00, 2.25, 2.50, 2.75, 3.00, 3.25, 3.50, 4.00, 4.25, 4.50, 4.75, 5.00, 5.50]
# 0 no pass, 1 yes pass
target = [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]

In [4]:
hours

[0.5,
 0.75,
 1.0,
 1.25,
 1.5,
 1.75,
 1.75,
 2.0,
 2.25,
 2.5,
 2.75,
 3.0,
 3.25,
 3.5,
 4.0,
 4.25,
 4.5,
 4.75,
 5.0,
 5.5]

In [5]:
target

[0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]

In [6]:
data = pd.DataFrame({
    'hours' : hours,
    'target' : target
})

In [7]:
data

    hours  target
0    0.50       0
1    0.75       0
2    1.00       0
3    1.25       0
4    1.50       0
5    1.75       0
6    1.75       1
7    2.00       0
8    2.25       1
9    2.50       0
10   2.75       1
11   3.00       0
12   3.25       1
13   3.50       0
14   4.00       1
15   4.25       1
16   4.50       1
17   4.75       1
18   5.00       1
19   5.50       1

In [8]:
y = data.target
X = data.drop('target', axis=1)

In [37]:
logreg = LogisticRegression(random_state=42, C=1e9)

In [38]:
logreg.fit(X, y)

LogisticRegression(C=1000000000.0, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [39]:
logreg.coef_

array([[1.50464522]])

In [40]:
logreg.intercept_

array([-4.07771764])

In [45]:
stats.sem(data['hours'])

0.3370123182193478